body{
    background-color: #24353f;
}
/* #home {
    height: 75vh;
} */
.container{
    max-width: 850px;
    width:100%;
  
    /* height: auto; */
   
    background-color: #24353f;
    box-sizing: border-box;
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
  

.container input{
    background-color: transparent;




}
 .container input:focus{
    box-shadow: none;
    background-color: transparent;
    color: white;
    border-color:#17a2b8 ;
}
.container input::placeholder{
    color:rgb(182, 182, 182);
  
}
.custom{
    width: 75%;
    margin: auto;
}
    
h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  color:#17a2b8 ;
}
.text-white{
text-decoration: none;
display: inline;
}
a:hover{
    text-decoration: underline;
}
@media (max-width: 768px ) {
    .container {
       max-width: 375px ;
       min-height:425px ;
     
}

}
@media(max-width: 540px ) {
    .container {
       max-width: 300px ;
       min-height:425px ;
     
}
.group input{
    width: 100%;
}
}
@-ms-viewport{
    width: device-width
}